<div class="container d-flex justify-content-center">
  <div class="card d-flex justify-content-center" style="width: 18rem;">
    <img src="<%= asset_url('coach-icon-png-4.jpg') %>" class="card-img-top" alt="...">
    <div class="card-body">
      <%= @answers %>
      <div>
        <a href="ask" class="btn btn-success">Ask a new question, fool!</a>
      </div>
    </div>
  </div>
</div>
